@import "tailwindcss";

@layer base {
  @theme {
    --color-color1: #5c2d2d;
    --color-color2: #ff48b6;
    --color-color3: #ffa740;
    --color-color4: #07b704;
    --color-dark1: #000000;
    --color-light1: #ffffff;
    --color-light2: #f7f7f9;
    --color-light3: #e4e6eb;

    --font-sans: "Popins", sans-serif;
  }
}

@layer components {
  body {
    @apply bg-[var(--light1)] text-[var(--dark1)] font-sans;
  }

  .card-slide-content {
    @apply bg-light1 rounded-3xl absolute top-1/2 z-10 p-5 max-w-[305px] transition-all opacity-0;
    left: 100px;
    transition-duration: 1000ms;

    transform: translateY(-45%) rotate3d(1, 0, 0, -20deg);
  }

  .swiper-slide-active .card-slide-content {
    @apply opacity-100;
    transform: translateY(-50%) rotate3d(1, 1, 1, 0deg);
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 30px;
  }
}
